.arriba {
    color: #0cd1da;
    font-weight: bold;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    text-shadow: 2px 2px 4px black;
}

.cabecera {
    text-align: center;
    background-color: #032c52;
    padding: clamp(15px, 3vw, 30px);
    position: relative;
    -webkit-text-stroke: 0.75px black;
    width: 100%;
    min-height: clamp(80px, 15vw, 120px);
    
}

.inicio {
    background-color: transparent;
    color: #0cd1da;
    position: absolute;
    right: clamp(200px, 20vw, 300px);
    top: 50%;
    transform: translateY(-50%);
    padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
    font-size: clamp(1rem, 3vw, 2rem);
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;
    border: none;
    -webkit-text-stroke: clamp(0.5px, 0.15vw, 1px) black;
    white-space: nowrap;
    right: 750px;
}

.inicio:hover, .contrata:hover, .quienes_somos:hover {
    background-color: #0cd1da;
    color: white;
    cursor: pointer;
}

.contrata {
    background-color: transparent;
    color: #0cd1da;
    position: absolute;
    right: clamp(20px, 3vw, 50px);
    top: 50%;
    transform: translateY(-50%);
    padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
    font-size: clamp(1rem, 3vw, 2rem);
    border: none;
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;
    -webkit-text-stroke: clamp(0.5px, 0.15vw, 1px) black;
    white-space: nowrap;
    right: 100px;
}

.intro {
    text-align: left;
    font-size: clamp(1.3rem, 4vw, 2rem);
    font-weight: bold;
    margin-top: clamp(30px, 5vw, 50px);
    margin-left: clamp(15px, 3vw, 25px);
    margin-right: clamp(15px, 3vw, 25px);
}

.parrafo1 {
    font-size: clamp(0.95rem, 2.5vw, 1.25rem);
    margin-top: clamp(15px, 3vw, 20px);
    margin-left: clamp(15px, 3vw, 25px);
    margin-right: clamp(15px, 10vw, 100px);
    font-family: Lora, serif;
    line-height: 1.6;
}
.logo {
    position: absolute;
    left: 250px;
    height: auto;
    width: auto;
    top: 0px;
}
.quienes_somos {
    background-color: transparent;
    color: #0cd1da;
    position: absolute;
    right: clamp(200px, 20vw, 300px);
    top: 50%;
    transform: translateY(-50%);
    padding: clamp(10px, 2vw, 20px) clamp(20px, 4vw, 40px);
    font-size: clamp(1rem, 3vw, 2rem);
    text-shadow: 2px 2px 4px black;
    font-weight: bolder;
    border: none;
    -webkit-text-stroke: clamp(0.5px, 0.15vw, 1px) black;
    white-space: nowrap;
    right: 400px;
}

.formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    position: center;
    padding: 20px;
}